@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.container {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    max-width: 900px;
    text-align: center;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}
  
.code {
    border-radius: 5px;
    font-size: 60px;
    height: 100px;
    width: 85px;
    border: 1px solid gainsboro;
    text-align: center;
    margin: 1%;
    font-weight: 300;
    -moz-appearance: textfield;
}

.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:valid {
    border-color: rgb(114, 159, 255);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .code-container {
        flex-wrap: wrap;
    }

    .code {
        font-size: 50px;
        height: 70px;
        max-width: 70px;
    }
}

